.Display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    background-color: grey;
    color: white;
    font-size: 45px;
    font-weight: bold;
    padding: 0px 20px;
    text-align: right;
}